<app-nav></app-nav>
<button (click)="createUser()">createUser</button>
<button (click)="login()">login</button>
<p>
  <a href="./assets/files/texto.txt">dowload</a>
</p>
<p>
  <button (click)="downloadPdf()">download pdf</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img  *ngIf="imgRta" [src]="imgRta" alt="imgUpload">
</p>
<app-products></app-products>



<!--<h1>comunication bettwen  parent and chield</h1>
<p>

  <input type="text" [(ngModel)]="imgParent"/>

</p>
<button (click)="">toggle img</button>
<p>{{ showImg }}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded()" [img]="imgParent"></app-img>
-->
