<div class="show-mobile">
	<div>
		<button (click)="toggleMenu()">
			<img src="./assets/icons/icon_menu.svg" alt="menu">
		</button>
		<a href="">
			<img src="./assets/logos/jc.svg" alt="logo">
		</a>
		<a href="">
			<img src="./assets/icons/icon_shopping_cart.svg" alt="cart">
		</a>
	</div>
	<div class="side-menu" [class.active]="activeMenu">
		<button (click)="toggleMenu()">close</button>
		<ul>
			<li><a href="">all</a></li>
			<li><a href="">clothes</a></li>
			<li><a href="">electrics</a></li>
		</ul>
	</div>
</div>
<div class="hide-mobile">
	<div>
		<nav>
			<a class="logo" href="">
				<img src="./assets/logos/jc.ico" alt="logo">
			</a>
			<ul>
				<li><a href="">all</a></li>
				<li><a href="">clothes</a></li>
				<li><a href="">electronics</a></li>
			</ul>
		</nav>
		<div class="info">
			<div class="account">johncedillo77@gmail.com</div>
		     <div>
		     	<a href="">
		     		<img src="./assets/icons/icon_shopping_cart.svg" alt="cart">
		     	</a>
		     	<span class="counter">{{ counter}}</span>
		     </div>
		</div>
	</div>
</div>